In [1]:
import pandas as pd
import DateTime as dt

1a)

In [2]:
'''Made some functions to make life easier'''
'''the function for my phi value'''
def phi(f_big,f_small,S_big,S_small):
    phi = (f_big-f_small)/(S_big-S_small)
    return phi
'''the function for my psi value'''
def psi(F_big,phi,s_big,rate):
    top = F_big-(phi*s_big)
    bottom = 1+rate
    psi = top/bottom
    return psi
'''the function to calculate the value of portfolio/node/option before maturity'''
def f_no_pay_off(phi,stock,psi):
    f = phi*stock+psi
    return f

In [3]:
'''Call Option'''
'''Index is Nodes list'''
nodes = [1,2,3,4,5,6,7]
'''Columns for variables needed'''
cols = ['stock','K','phi','psi','f']
'''Creating the empty dataframe to perform calculations'''
Call = pd.DataFrame(index=nodes, columns=cols)
Call.index.name = 'Nodes'
Call['K'] =4
price = [4,2,8,1,4,4,16]
Call['stock'] = price
'''Iteration through the data '''
for i in reversed(range(1,len(Call)+1)):
    ''' For our assumption data (the last level node pay offs) '''
    if i >= 4 and (Call.loc[i,'stock'] - Call.loc[i,'K']) > 0:
        Call.loc[i,'f'] = Call.loc[i,'stock'] - Call.loc[i,'K']
        ''' Making sure that our assumption node payoffs do not go below zero '''
    elif i >= 4 and Call.loc[i,'stock'] - Call.loc[i,'K'] <= 0:
        Call.loc[i, 'f'] = 0
        ''' Using the function to cycle through the S3,S2,S1 Nodes to achieve values '''
    elif i <=3:
        '''iteraration must be on ths range to except the correct payoff node for variables'''
        s_big_ = Call.loc[(i*2+1),'stock']
        s_small_ = Call.loc[(i*2),'stock']
        f_big_ = Call.loc[(i*2+1),'f']
        f_small_ = Call.loc[(i*2),'f']
        stock_same = Call.loc[i,'stock']
        r = .25
        ''' Using the built in functions '''
        Call.loc[i,'phi'] = phi(f_big_,f_small_,s_big_,s_small_)
        Call.loc[i,'psi'] = psi(f_big_,Call.loc[i,'phi'],s_big_,r)
        Call.loc[i,'f'] = f_no_pay_off(Call.loc[i,'phi'],stock_same,Call.loc[i,'psi'])

In [4]:
Call

       stock  K  phi   psi     f
Nodes
1          4  4  0.8 -1.28  1.92
2          2  4  0.0   0.0   0.0
3          8  4  1.0  -3.2   4.8
4          1  4  NaN   NaN     0
5          4  4  NaN   NaN     0
6          4  4  NaN   NaN     0
7         16  4  NaN   NaN    12

In [5]:
'''Put Option'''
'''Index is Nodes list'''
nodes = [1,2,3,4,5,6,7]
'''Columns for variables needed'''
cols = ['stock','K','phi','psi','f']
'''Creating the empty dataframe to perform calculations'''
Put = pd.DataFrame(index=nodes, columns=cols)
Put.index.name = 'Nodes'
Put['K'] =4
price = [4,2,8,1,4,4,16]
Put['stock'] = price
'''Iteration through the data '''
for i in reversed(range(1,len(Put)+1)):
    '''Had to change the first two qualifiers and calculations to adjust for it being a Put Option
    Everything else reamins unchanged'''
    if i >= 4 and (Put.loc[i,'stock'] - Put.loc[i,'K']) < 0:
        Put.loc[i,'f'] = -1*(Put.loc[i,'stock'] - Put.loc[i,'K'])
    elif i >= 4 and Put.loc[i,'stock'] - Put.loc[i,'K'] >= 0:
        Put.loc[i, 'f'] = 0
    elif i <=3:
        s_big_ = Put.loc[(i*2+1),'stock']
        s_small_ = Put.loc[(i*2),'stock']
        f_big_ = Put.loc[(i*2+1),'f']
        f_small_ = Put.loc[(i*2),'f']
        stock_same = Put.loc[i,'stock']
        r = .25
        Put.loc[i,'phi'] = phi(f_big_,f_small_,s_big_,s_small_)
        Put.loc[i,'psi'] = psi(f_big_,Put.loc[i,'phi'],s_big_,r)
        Put.loc[i,'f'] = f_no_pay_off(Put.loc[i,'phi'],stock_same,Put.loc[i,'psi'])

In [6]:
Put

       stock  K  phi   psi     f
Nodes
1          4  4 -0.2  1.28  0.48
2          2  4 -1.0   3.2   1.2
3          8  4  0.0   0.0   0.0
4          1  4  NaN   NaN     3
5          4  4  NaN   NaN     0
6          4  4  NaN   NaN     0
7         16  4  NaN   NaN     0

1b)

In [7]:
'''Call_2 Option'''
'''Index is Nodes list'''
nodes = [1,2,3,4,5,6,7]
'''Columns for variables needed'''
cols = ['stock','K','q','f','price']
'''Creating the empty dataframe to perform calculations'''
Call_2 = pd.DataFrame(index=nodes, columns=cols)
Call_2.index.name = 'Nodes'
Call_2['K'] =4
price = [4,2,8,1,4,4,16]
Call_2['stock'] = price
r = .25
'''Iteration through the data '''
for i in reversed(range(1,len(Call_2)+1)):
    if i == 6 or i == 7:
        Call_2.loc[i,'q'] = ((1+r)*Call_2.loc[3,'stock'] - Call_2.loc[6,'stock'])/(Call_2.loc[7,'stock']-Call_2.loc[6,'stock'])
    elif i == 4 or i == 5:
        Call_2.loc[i,'q'] = ((1+r)*Call_2.loc[2,'stock'] - Call_2.loc[4,'stock'])/(Call_2.loc[5,'stock']-Call_2.loc[4,'stock'])
    elif i == 2 or i == 3:
        Call_2.loc[i,'q'] = ((1+r)*Call_2.loc[1,'stock'] - Call_2.loc[2,'stock'])/(Call_2.loc[3,'stock']-Call_2.loc[2,'stock'])
    if Call_2.loc[i,'stock'] - Call_2.loc[i,'K'] >=0:
        Call_2.loc[i,'f'] = Call_2.loc[i,'stock'] - Call_2.loc[i,'K']
    elif Call_2.loc[i,'stock'] - Call_2.loc[i,'K'] < 0:
        Call_2.loc[i,'f'] = 0
    Call_2.loc[1,'q'] = Call_2.loc[2,'q']
    if i <= 3:
        Call_2.loc[i,'price'] = (Call_2.loc[i*2+1,'f']*Call_2.loc[i,'q'] + Call_2.loc[i*2,'f']*(1-Call_2.loc[i,'q']))/(1+r)

In [8]:
Call_2

       stock  K    q   f price
Nodes
1          4  4  0.5   0   1.6
2          2  4  0.5   0   0.0
3          8  4  0.5   4   4.8
4          1  4  0.5   0   NaN
5          4  4  0.5   0   NaN
6          4  4  0.5   0   NaN
7         16  4  0.5  12   NaN